<table class="table sortable" id='listing_taxon_groups' data-hook>
  <thead>
    <tr data-hook="taxon_groups_header">
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:key) %></th>
      <th><%= Spree.t(:taxon_count) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @taxon_groups.each do |taxon_group| %>
      <tr id="<%= spree_dom_id taxon_group %>" data-hook="taxon_groups_row">
        <td><%= taxon_group.name %></td>
        <td><%= taxon_group.key %></td>
        <td><%= taxon_group.taxons.count %></td>
        <td class="actions actions-2 text-right">
          <!-- Edit -->
          <%= link_to_edit taxon_group.id, no_text: true %>

          <!-- Positions -->
          <%= link_to positions_admin_taxon_group_path(taxon_group.id), class: 'btn btn-default btn-sm icon-link with-tip action-positions no-text', 'data-original-title': 'Positions' do %>
            <span class="icon icon-sort"></span>
          <% end %>

          <!-- Delete -->
          <%= link_to_delete taxon_group, no_text: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
