<% content_for :page_title do %>
  <%= plural_resource_name(Spree::TaxonGroup) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_taxon_group), new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_taxon_group_link' %>
<% end %>

<% if @taxon_groups.any? %>
  <div id="list-taxon-groups" data-hook>
    <%= render 'list' %>
  </div>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::TaxonGroup)) %>,
    <%= link_to Spree.t(:add_one), new_object_url %>!
  </div>
<% end %>
